body {
    background-color: floralwhite;
    margin: 0 auto;
    font-family: 'Roboto';
}
.row{
	margin-top: 20px;
}
.navbar{
	background-color: #60a3bc !important;
	padding: 20px;
}
.container{
	margin-top: 50px;
}
.card{
	margin:0 auto;
	 
	 height:35rem
}
.navbar.navbar-expand-lg a{
	color:white;
}
.navbar-nav li a{
	color:white;
}
#text{
	text-align: center;
	font-size: 35px;
}
#changecolor2 {
    height: 100px;
    width: 100px;
}